body {
    background-color: #c0a0ba;
    font-size: 15px;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }
}

* {
    box-sizing: border-box;
}

a {
    color: #629e00;
    text-decoration: none;
    border-bottom: #629e00 1px solid;
    text-transform: lowercase;
}
a:hover {
    color: #91bb00;
}

/******************************************************************************
 * MENU
 *****************************************************************************/

.menu {
    width: 100%;
    margin: 20px 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

.menu ul {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu ul li {
    list-style-type: none;
    margin: 0 1em;
    padding: 0;
}

.menu-link {
    color: #000005;
    text-transform: lowercase;
    border-bottom: 0;
}
.menu-link:hover {
    color: #000005;
}

.menu-link-fixed {
    display: inline-block;
    width: 72px;
}
@media only screen and (max-width: 600px) {
    .menu-link-fixed {
        width: 38px;
    }
}

.menu-cursor {
    position: absolute;
    top: 32px;
    height: 30px;
    transition: left 0.5s ease-out, width 0.5s ease-out, background-color 0.5s ease-out;
    z-index: -1;
}
@media only screen and (max-width: 600px) {
    .menu-cursor {
        top: 28px;
        height: 20px;
    }
}

.menu-cursor-1 {
    left: calc(50% - 200px);
    width: 120px;
    background-color: #629e00;
}
@media only screen and (max-width: 600px) {
    .menu-cursor-1 {
        left: calc(50% - 125px);
        width: 75px;
    }
}


@media only screen and (min-width: 600px) {
    .menu-cursor-temporary-1 {
        left: calc(50% - 200px);
        width: 120px;
        background-color: #629e00;
    }

/******************************************************************************
 * INDEX
 *****************************************************************************/

.index-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.index-container {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: #F0FFFF;
    font-family: 'Poppins';
    font-size: 2em;
    transition: transform 2s ease-in, background 1s linear;
}
.index-container.index-container-exit {
    background-color: transparent;
}

.index-section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    cursor: pointer;
    transition: left 2s ease-in, top 2s ease-in;
}

.index-green {
    top: calc(-40% - 10px);
    left: calc(-50% - 10px);
    background-color: #006400;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.5em;
    cursor: default;
}
.index-green.index-section-exit {
    top: -100%;
    left: -100%;
}
@media only screen and (max-width: 600px) {
    .index-green {
        top: calc(-50% - 5px);
        left: calc(-50% - 5px);
    }

    .index-green-button {
        font-size: 0.8em;
        word-spacing: 1000px;
        text-align: right;
    }
}

.index-light-green {
    top: calc(-40% - 10px);
    left: calc(50% + 10px);
    background-color: #629e00;
    justify-content: flex-start;
    align-items: flex-end;
}
.index-light-green:hover {
    background-color: #79acc5;
}
.index-light-green.index-section-exit {
    top: -100%;
    left: 100%;
}
@media only screen and (max-width: 600px) {
    .index-light-green {
        top: calc(-20% - 5px);
        left: calc(50% + 5px);
    }
}

.index-transparent {
    top: calc(-40% - 10px);
    left: calc(-50% - 10px);
    background-color: #006400;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.5em;
    cursor: default;
}
.index-transparent.index-section-exit {
    top: -100%;
    left: -100%;
}
@media only screen and (max-width: 600px) {
    .index-transparent {
        top: calc(-50% - 5px);
        left: calc(-50% - 5px);
    }

    .index-transparent-button {
        font-size: 0.8em;
        word-spacing: 1000px;
        text-align: right;
    }
}

/******************************************************************************
 * ITEMS
 *****************************************************************************/

/* user table */
.items {
    position: relative;
    width: 1000px;
    margin: 150px auto 50px auto;
    background: #ffffff;
    padding: 30px 30px 20px 20px;
}
@media only screen and (max-width: 600px) {
    body {
        padding: 0 20px;
    }
    .items {
        width: auto;
        margin-top: 40px;
    }
}

.items-border {
    position: absolute;
    top: 8px;
    left: -8px;
    width: 100%;
    height: 100%;
    border: #e5f0b0 7px solid;
    pointer-events: none;
}

.item-row {
    display: flex;
    align-items: flex-end;
    font-family: Lato;
    font-size: 0.8em;
    margin-bottom: 20px;
    text-transform: lowercase;
}
.item-row:last-child {
    margin-bottom: 0;
}
.item-row-disabled {
    opacity: 0.3;
}

.item-section-text {
    flex-grow: 1;
}

.item-section-links {
    display: flex;
    flex-direction: row-reverse;
}

.item-date {
    display: inline-block;
    color: #888888;
    font-size: 0.9em;
    margin-right: 20px;
}

.item-title {
}

.item-section a {
    display: block;
    margin: 0 0 0 10px;
}

@media only screen and (max-width: 600px) {
    .item-row {
        align-items: center;
        justify-content: space-between;
    }
    .item-date, .item-title {
        display: block;
        width: 100%;
    }
    .item-date {
        margin: 0 0 5px 0;
    }
    .item-row a {
        display: block;
        float: right;
        clear: right;
        margin: 0 0 5px 0;
    }
    .item-row a:last-child {
        margin: 0;
    }
    .item-section-links {
        display: block;
    }
}

/******************************************************************************
 * SNAPSHOT
 *****************************************************************************/

.snap-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.snap-container {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: #F0FFFF;
    font-family: 'Poppins';
    font-size: 2em;
    transition: transform 2s ease-in, background 1s linear;
}
.snap-container.snap-container-exit {
    background-color: transparent;
}

.snap-section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    cursor: pointer;
    transition: left 2s ease-in, top 2s ease-in;
}

.snap-super-dark-green {
    top: calc(-50% - 10px);
    left: calc(-50% - 10px);
    background-color: #004000;
    justify-content: flex-end;
    align-items: flex-end;
}
.snap-super-dark-green:hover {
    background-color: #79acc5;
}
.snap-super-dark-green.snap-section-exit {
    top: -100%;
    left: -100%;
}
@media only screen and (max-width: 600px) {
    .snap-super-dark-green {
        top: calc(-50% - 5px);
        left: calc(-50% - 5px);
    }

    .snap-super-dark-green-button {
        font-size: 0.8em;
        word-spacing: 1000px;
        text-align: right;
    }
}

.snap-even-darker-green {
    top: calc(-50% - 10px);
    left: calc(50% + 10px);
    background-color: #006800;
    justify-content: flex-start;
    align-items: flex-end;
}
.snap-even-darker-green:hover {
    background-color: #79acc5;
}
.snap-even-darker-green.snap-section-exit {
    top: -100%;
    left: 100%;
}
@media only screen and (max-width: 600px) {
    .snap-even-darker-green {
        top: calc(-50% - 5px);
        left: calc(50% + 5px);
    }

    .snap-even-darker-green-button {
        font-size: 0.8em;
        word-spacing: 1000px;
        text-align: right;
    }
}

.snap-darker-green {
    top: calc(50% + 10px);
    left: calc(-50% - 10px);
    background-color: #008000;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 1.5em;
    cursor: default;
}
.snap-darker-green:hover {
    background-color: #79acc5;
}
.snap-darker-green.snap-section-exit {
    top: 100%;
    left: -100%;
}
@media only screen and (max-width: 600px) {
    .snap-darker-green {
        top: calc(50% + 5px);
        left: calc(-50% - 5px);
    }

    .snap-darker-green-button {
        font-size: 0.8em;
        word-spacing: 1000px;
        text-align: right;
    }
}

.snap-light-green {
    top: calc(-40% - 10px);
    left: calc(50% + 10px);
    background-color: #00a000;
    justify-content: flex-start;
    align-items: flex-end;
}
.snap-light-green:hover {
    background-color: #79acc5;
}
.snap-light-green.snap-section-exit {
    top: -100%;
    left: 100%;
}
@media only screen and (max-width: 600px) {
    .snap-light-green {
        top: calc(-20% - 5px);
        left: calc(50% + 5px);
    }
}

.snap-transparent {
    top: calc(50% + 10px);
    left: calc(50% + 10px);
    background-color: #006400;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: default;
}
.snap-transparent.snap-section-exit {
    top: 100%;
    left: 100%;
}
@media only screen and (max-width: 600px) {
    .snap-transparent {
        top: calc(50% + 5px);
        left: calc(50% + 5px);
    }

    .snap-transparent-button {
        font-size: 0.8em;
        word-spacing: 1000px;
        text-align: right;
    }
}

/******************************************************************************
 * RESULT
 *****************************************************************************/

/* user table */
.result {
    position: relative;
    width: 1000px;
    margin: 150px auto 50px auto;
    background: #ffffff;
    padding: 30px 30px 20px 20px;
}
@media only screen and (max-width: 600px) {
    body {
        padding: 0 20px;
    }
    .result {
        width: auto;
        margin-top: 40px;
    }
}

.result-border {
    position: absolute;
    top: 8px;
    left: -8px;
    width: 100%;
    height: 100%;
    border: #e5f0b0 7px solid;
    pointer-events: none;
}



